<ion-grid>
  <ion-row class="welcome-logo">
    <ion-col class="welcome-logo__app-logo">
      <ion-thumbnail class="welcome-logo__thumbnail">
        <img class="welcome-logo__logo-img" />
      </ion-thumbnail>
    </ion-col>
  </ion-row>
  <ion-row class="login-form">
    <ion-col>
      <form>
        <ion-item-group class="login-form__form">
          <ion-item class="login-form__field">
            <ion-label class="login-form__field-label"
              ><ion-icon name="mail-outline"></ion-icon
            ></ion-label>
            <ion-input
              type="email"
              placeholder="Email"
              [name]="'email'"
              class="login-form__input"
            ></ion-input>
          </ion-item>
          <ion-item class="login-form__field">
            <ion-label class="login-form__field-label"
              ><ion-icon name="lock-closed-outline"></ion-icon
            ></ion-label>
            <ion-input
              type="password"
              placeholder="Contraseña"
              [name]="'password'"
              class="login-form__input"
            ></ion-input>
          </ion-item>
          <ion-item lines="none" class="login-form__field">
            <ion-label>Recordar</ion-label>
            <ion-toggle
              class="login-form__toggle-button"
              name="remind-pass"
              mode="md"
            ></ion-toggle>
          </ion-item>
        </ion-item-group>
        <ion-button class="login-form__submit-button" expand="full"
          >Acceder</ion-button
        >
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
