@import 'src/theme/partials/mixins';
@import 'src/theme/partials/variables';

.welcome-logo {
  @media screen and (min-width: map-get($ion-grid-breakpoints, sm)) {
    background-color: var(--sanitas-white);
  }

  &__app-logo {
    @include aligns(center, center);
    margin-bottom: 1rem;
    flex-direction: column;
    @media screen and (min-width: map-get($ion-grid-breakpoints, sm)) {
      margin-top: 2rem;
    }
  }

  &__thumbnail {
    --size: 7rem;
  }

  &__logo-img {
    background: url('../../../../../assets/logo.jpg') no-repeat left/cover;
  }
}

.login-form {
  --ion-grid-column-padding: 0;
  background-color: var(--sanitas-white);

  &__form {
    padding: 0.5rem 1.5rem 0;
  }

  &__field {
    --padding-start: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
  }

  &__toggle-button {
    padding-right: 1px;
    --handle-background: var(--sanitas-lightgrey-800);
    --background: var(--sanitas-lightgrey-300);
  }

  &__field {
    display: flex;
    align-items: center;
    font-weight: 500;
  }

  &__field-label {
    --color: var(--sanitas-lightgrey-800);
  }

  &__error-message {
    color: var(--sanitas-error);
  }

  &__input {
    font-size: 0.9rem;
    --placeholder-color: var(--sanitas-lightgrey-800);
  }

  &__submit-button {
    font-weight: 600;
    margin: 0;
    --background: var(--sanitas-primary);
    --background-activated: var(--sanitas-lighter-primary);
    text-transform: none;

    @media screen and (min-width: map-get($ion-grid-breakpoints, sm)) {
      margin: 1rem auto;
      --background: initial;
      --border-color: var(--sanitas-primary);
      --border-style: solid;
      --border-width: 2px;
      --color: var(--sanitas-black);
    }
  }
}
